body {
  background: #212121;
  color: #fefefe;
  width: 100%;
  overflow-x:hidden ;
}

.container {
  position: relative;
  width: 80vw;
}

header {
  position: fixed;
  top: 85px;
  width: 100%;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

#content {
  height: auto;
}

.menu-icon {

  cursor: pointer;
  z-index: 100;

  .line {
    background-color: white;
    height: 3px;
    width: 60px;
    margin-bottom: 10px;
    z-index: 600;

    margin-top: -3px;
  }
  .line-outer {
    will-change: opacity;
    transition: all 0.4s ease;
    transition-property: opacity;
  }

  .line-center {
    position: relative;
    //margin-left: -15px;
    transform: translateX(-15px);
    transition: all 0.4s ease;
    transition-property: transform;
    will-change: transform;

  }

  .line-center:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: all 0.3s ease;
    transition-property: transform;
    will-change: transform;
    z-index: 90;
  }

  &:hover .line-center{
    transform: translateX(0px);
  }

  .menu-name {
    margin-top: 10px;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
  }
}


.menu-wrapper {
  position: fixed;
  top: 30px;
  right: 10px;
  bottom:30px;
  width: 40%;
  height: 100vh;
  background: #fefefe;
  z-index: 50;
  color: red;
  display: none;
  opacity: 0;
  will-change: opacity;
  transition-property:  opacity;
  transition-duration: .7s;
  transition-timing-function: ease;
}
.menu-wrapper  .menu-wrapper__list {
  width: 50%;
  height: 100%;
  margin: auto;
  text-align: center;

  .menu-menu-entete-container {
    height: 100%;
    width: 100%;

    .menu_header {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      color: #000;
      font-family: 'Poppins', sans-serif;
      font-size: 4rem;



      li {
        position: relative;
        z-index: 2;
      }
      li a {
        text-decoration: none;

        &:hover {
          color: black;
        }
      }

      li a:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70%;
        background: #E9C22A;
        z-index: -1;
        transform: scaleX(0);
        will-change: transform;
        transform-origin: left;
        transition-property: transform;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;

      }
      li a:hover:before {
        transform: scaleX(1);
      }

    }
  }
}


header.header--open {

  .menu-icon {
    .line-outer{
      opacity: 0;
    }
    .line-center {
      background: #000;
      transform:  rotate(45deg) translateX(0);
    }
    .line-center:after {
      transform: rotate(-90deg);
      background: #000;

    }
    .menu-name {
      color: #000;
    }
  }
  .menu-wrapper{
    display: block;
    opacity: 1;
  }
}

