body {
  background: #212121;
  color: #fefefe;
  width: 100%;
  overflow-x:hidden ;
}

.container {
  position: relative;
  width: 80vw;
  }

  header {
    position: absolute;
    top: 55px;
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }

  #content {
    height: auto;
  }

  .menu-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
  }


  .menu-wrapper {
    position: fixed;
    top: 30px;
    right: 10px;
    bottom:30px;
    width: 40%;
    height: 100vh;
    background: #fefefe;
    z-index: 50;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-wrapper  .menu-wrapper__list {
    marin: auto;
  }

  .menu-wrapper__cross {
    height: 50px;
    width: 50px;
    background: #000;
    position: absolute;
    right: 70px;
    top: 50px;
  }


  .menu-hidden {
    display: none;
  }