.contact__items{
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #fafafa;
  line-height: 2;
  text-decoration: none;
  margin-top: 10%;
  margin-bottom: 10%;
}
.contact__items label{
  font-size: 1rem !important;
  font-weight: 400 !important;
}
.contact__submit{
  background: #FAFAFA !important;
  color: #212121 !important;
  border: none !important;
  width: 300px !important;
  height: 38px !important;
  transition: all 0.4s ease !important;
}
.contact__submit:hover{
  background: #E9C22A !important;
  color: #fafafa !important;
}
.contact__intro {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.contact__introContent {
  padding-top: 20%;
  z-index: 1;
  h1 {
    color: #fefefe;
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 63px;
  }
  p {
    color: #fefefe;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;
  }
}